In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\akshay sonawane\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib as mpl

In [3]:
!pip install jupyter_contrib_nbextensions

Requirement already satisfied: jupyter_contrib_nbextensions in c:\users\akshay sonawane\anaconda3\lib\site-packages (0.5.1)
Requirement already satisfied: jupyter-latex-envs>=1.3.8 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (1.4.6)
Requirement already satisfied: jupyter-highlight-selected-word>=0.1.1 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (0.2.0)
Requirement already satisfied: notebook>=4.0 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (6.1.4)
Requirement already satisfied: traitlets>=4.1 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (5.0.5)
Requirement already satisfied: ipython-genutils in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (0.2.0)
Requirement already satisfied: tornado in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (6.0.4)
Requirement already satisfied: pyyaml in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (5.3.1)
Requirement already satisfied: jupyter-core in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (4.6.3)
Requirement already satisfied: lxml in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (4.6.1)
Requirement already satisfied: nbconvert>=4.2 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (6.0.7)
Requirement already satisfied: jupyter-contrib-core>=0.3.3 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (0.3.3)
Requirement already satisfied: jupyter-nbextensions-configurator>=0.4.0 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (0.4.1)
Requirement already satisfied: ipython in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (7.19.0)
Requirement already satisfied: ipykernel in c:\users\akshay sonawane\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (5.3.4)
Requirement already satisfied: jupyter-client>=5.3.4 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (6.1.7)
Requirement already satisfied: terminado>=0.8.3 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (0.9.1)
Requirement already satisfied: Send2Trash in c:\users\akshay sonawane\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (1.5.0)
Requirement already satisfied: prometheus-client in c:\users\akshay sonawane\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (0.8.0)
Requirement already satisfied: argon2-cffi in c:\users\akshay sonawane\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (20.1.0)
Requirement already satisfied: jinja2 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (2.11.2)
Requirement already satisfied: nbformat in c:\users\akshay sonawane\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (5.0.8)
Requirement already satisfied: pyzmq>=17 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (19.0.2)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jupyter-core->jupyter_contrib_nbextensions) (227)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (0.5.1)
Requirement already satisfied: defusedxml in c:\users\akshay sonawane\anaconda3\lib\site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (0.6.0)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (0.8.4)
Requirement already satisfied: pygments>=2.4.1 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (2.7.2)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (0.3)
Requirement already satisfied: bleach in c:\users\akshay sonawane\anaconda3\lib\site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (3.2.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\akshay sonawane\anaconda3\lib\site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (0.1.2)
Requirement already satisfied: testpath in c:\users\akshay sonawane\anaconda3\lib\site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (0.4.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (1.4.3)
Requirement already satisfied: setuptools in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jupyter-contrib-core>=0.3.3->jupyter_contrib_nbextensions) (50.3.1.post20201107)
Requirement already satisfied: backcall in c:\users\akshay sonawane\anaconda3\lib\site-packages (from ipython->jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (0.2.0)
Requirement already satisfied: decorator in c:\users\akshay sonawane\anaconda3\lib\site-packages (from ipython->jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (4.4.2)
Requirement already satisfied: pickleshare in c:\users\akshay sonawane\anaconda3\lib\site-packages (from ipython->jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (0.7.5)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\akshay sonawane\anaconda3\lib\site-packages (from ipython->jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (0.4.4)
Requirement already satisfied: jedi>=0.10 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from ipython->jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (0.17.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from ipython->jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (3.0.8)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jupyter-client>=5.3.4->notebook>=4.0->jupyter_contrib_nbextensions) (2.8.1)
Requirement already satisfied: pywinpty>=0.5 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.0->jupyter_contrib_nbextensions) (0.5.7)
Requirement already satisfied: six in c:\users\akshay sonawane\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.0->jupyter_contrib_nbextensions) (1.15.0)
Requirement already satisfied: cffi>=1.0.0 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.0->jupyter_contrib_nbextensions) (1.14.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jinja2->notebook>=4.0->jupyter_contrib_nbextensions) (1.1.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from nbformat->notebook>=4.0->jupyter_contrib_nbextensions) (3.2.0)
Requirement already satisfied: async-generator in c:\users\akshay sonawane\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert>=4.2->jupyter_contrib_nbextensions) (1.10)
Requirement already satisfied: nest-asyncio in c:\users\akshay sonawane\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert>=4.2->jupyter_contrib_nbextensions) (1.4.2)
Requirement already satisfied: packaging in c:\users\akshay sonawane\anaconda3\lib\site-packages (from bleach->nbconvert>=4.2->jupyter_contrib_nbextensions) (20.4)
Requirement already satisfied: webencodings in c:\users\akshay sonawane\anaconda3\lib\site-packages (from bleach->nbconvert>=4.2->jupyter_contrib_nbextensions) (0.5.1)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jedi>=0.10->ipython->jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\akshay sonawane\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (0.2.5)
Requirement already satisfied: pycparser in c:\users\akshay sonawane\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.0->jupyter_contrib_nbextensions) (2.20)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=4.0->jupyter_contrib_nbextensions) (0.17.3)
Requirement already satisfied: attrs>=17.4.0 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=4.0->jupyter_contrib_nbextensions) (20.3.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from packaging->bleach->nbconvert>=4.2->jupyter_contrib_nbextensions) (2.4.7)

In [4]:
df = pd.read_csv("http://rcs.bu.edu/examples/python/data_analysis/Salaries.csv")

In [5]:
df.max()

rank            Prof
discipline         B
phd               56
service           51
sex             Male
salary        186960
dtype: object

In [6]:
df.min()

rank          AssocProf
discipline            A
phd                   1
service               0
sex              Female
salary            57800
dtype: object

In [8]:
df.mean()

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

In [9]:
df.median()

phd            18.5
service        14.5
salary     104671.0
dtype: float64

In [10]:
df.std()

phd           12.498425
service       12.139768
salary     28293.661022
dtype: float64

In [13]:
df.sample(4)

    rank discipline  phd  service     sex  salary
45  Prof          B   25       25  Female  140096
11  Prof          B   23       23    Male  134778
3   Prof          A   40       31    Male  131205
4   Prof          B   20       18    Male  104800

In [12]:
df.dropna()

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [14]:
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [15]:
df.std()

phd           12.498425
service       12.139768
salary     28293.661022
dtype: float64

In [23]:
df.head(50).mean()

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [24]:
df.salary

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [25]:
df['salary']

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [32]:
df['phd'].describe()

count    78.000000
mean     19.705128
std      12.498425
min       1.000000
25%      10.250000
50%      18.500000
75%      27.750000
max      56.000000
Name: phd, dtype: float64

In [33]:
df['phd'].count()

78

In [34]:
df['phd'].mean()

19.705128205128204